*{
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}

input{
  display:block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #eee;
}

button{
  width: 100%;
  display: block;
}

.registerButton, .loginButton{
  background-color: #555;
  border:0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;

}

form h1{
  text-align:center;
  font-weight: bold;
  font-size: xx-large;
}