.glass{
    margin-left: 50px;
    background: linear-gradient(135deg, rgb(255,255,255,0.1),rgb(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);  
}
.latest-blog-thumbnail{
    width: 300px;
}
.blog-h1{
    font-weight: 600;
    font-size: xx-large;
    text-align: left;
    padding-left: 20px;
    color: darkslategray;
    
}
.latest-blog{
    display: flex;

}
.latest-blog-thumbnail{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 225px;
}
.latest-blog-content{
    padding-top:15px;
    padding-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: larger;
    font-weight: 550;
}
.popular-blog{
    background: linear-gradient(135deg, rgb(255,255,255,0.1),rgb(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    width:800px;
}

.popular-blog-thumbnail{
    padding-left:10px;
    border-radius: 20px;
}
.blog-link-image{
    border-radius: 3px;
    width:150px;
    height: 75px;
}
.popular-blog-links.flex{
    padding-bottom: 5px;
    padding-right:10px;
}

.popular-blog-content{
    padding-left:10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 500;
}

.popular-blog-h1{
    font-weight: 600;
    font-size: xx-large;
    text-align: left;
    padding-left: 20px;
    color: darkslategray;
}
.flex.space-x-10{
    padding-bottom: 100px;
} 